.App {
  display: flex;
  min-height: 100vh;
}

.nav {
  width: 200px;
  padding: 30px;
  border-right: 1px solid grey;
}

.container {
  flex: 1;
  padding: 30px;
}

canvas {
  border: 1px dashed grey;
}
